.c-btn {
  display: inline-block;
  font-size: $fontsize_ms;
  padding: $space_xs $space_ms;
  &.active {
    background: orange;
  }
  &--submit {
    color: $color_font_white;
    background: $color_main_green;
    border-radius: 5px;
    transition: $transtime_default;
    &:hover {
      background: $color_active_bg_green2;
    }
  }
}