.c-calendar {
  &__body {
    height: calc(100vh - $height_footer - $height_footer - $height_head_container - $height_head_dotw);
    min-height: 200px;
  }
  &--input {
    margin: 0 auto;
    max-width: 300px;
  }
  &__head-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $height_head_container;
    line-height: $height_head_container;
  }
  &__current-date {
    margin: 0 $space_ml;
  }
  &__header {
    &--input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $space_s;
    }
  }
  &__dotw {
    display: flex;
    border-top: $border_bright;
    border-right: $border_bright;
    height: $height_head_dotw;
    line-height: $height_head_dotw;
    &--input {
      @extend .c-calendar__dotw;
      border-right: none;
    }
  }
  &__dotw-name {
    text-align: center;
    width: calc(100% / 7);
    border-left: $border_bright;
    border-bottom: $border_bright;
    &--input {
      @extend .c-calendar__dotw-name;
    }
    &--small {
      border-left: $border_bright;
      &:first-of-type {
        border-left: none;
      }
    }
  }
  &__row {
    display: flex;
    height: calc((100% - $height_head_container - $height_head_dotw) / 5);
    min-height: 30px;
    border-left: $border_bright;
    &--input {
      @extend .c-calendar__row;
      font-size: $fontsize_ms;
      height: 40px;
      align-items: center;
      border: none;
    }
  }
  &__date {
    margin-bottom: 3px;
    height: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__day {
    font-size: $fontsize_s;
    display: inline-block;
    border-bottom: $border_bright;
    border-right: $border_bright;
    width: 26px;
    text-align: center;
    &.today {
      background: $color_active_bg_green;
      color: $color_active_font;
      font-weight: bold;
    }
    &.red {
      color: $color_main_red;
      font-weight: 700;
    }
    &.blue {
      color: rgb(81, 81, 243);
      font-weight: 700;
    }
    &--input {
      width: calc(100% / 7);
      text-align: center;
    }
    &--inner {
      width: 30px;
      height: 30px;
      margin: 5px;
      border-radius: 50%;
      line-height: 30px;
      &:hover {
        cursor: pointer;
        background: #fff8f8;
      }
      &.active {
        background: $color_active_bg_green;
      }
    }
  }
  &__date-container {
    width: calc(100% / 7);
    border-right: $border_bright;
    border-bottom: $border_bright;
    &:hover {
      background: $color_bg_bright_gray;
    }
    &--input {
      @extend .c-calendar__date-container;
      cursor: pointer;
      &.active {
        background: $color_bg_orange;
      }
    }
  }
  &__outer-month {
    background: $color_bg_light_gray;
  }
  &__event {
    color: $color_font_white;
    padding-left: $space_s;
    margin-bottom: 3px;
    height: 20px;
    line-height: 20px;
    font-size: $fontsize_s;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    &.hide {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__holiday {
    @extend .c-calendar__event;
    padding: 0;
    text-align: center;
    padding: 0 10%;
    background: $color_main_red;
    height: 25px;
    line-height: 25px;
    margin-bottom: 0;
    display: inline-block;
    &:hover {
      cursor: auto;
    }
  }
  &--small {
    box-shadow: 0px 0px 10px #ccc;
    width: 280px;
    background: $color_bg_white;
    position: absolute;
    left: 82%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 10px;
    &.left {
      left: 40%;
    }
  }
  &__hidden-container {
    position: relative;
  }
  &__hidden-event {
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    top: -28px;
    right: 10px;
    border: $border_default;
    border-radius: 50%;
    background: white;
    text-align: center;
    font-size: $fontsize_ms;
    box-shadow: 0px 0px 10px #aaa;
    cursor: pointer;
    transition: $transtime_default;
    &:hover {
      background: $color_active_bg_green;
    }
  }
  &__container-event-list {
    position: absolute;
    border-radius: 10px;
    box-shadow: $box_shadow_default;
    width: 200px;
    background: white;
    border: $border_default;
    padding: $space_s;

  }
}