.c-form {
  padding: $space_m $space_ml;
  border: $border_default;
  border-radius: 10px;
  background: $color_bg_white;
  position: relative;
  &--invitation {
    padding: $space_ml $space_m;
  }
  &__label {
    display: block;
    font-size: $fontsize_ms;
  }
  &__input {
    display: block;
    width: 100%;
    border: $border_default;
    border-radius: 5px;
    padding: $space_xs $space_s;
    font-size: $fontsize_ms;
    margin-top: $space_s;
  }
  &__textarea {
    display: block;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border: $border_default;
    padding: $space_xs $space_s;
    font-size: $fontsize_ms;
  }
  &__date {
    display: inline-block;
    position: relative;
    z-index: 2;
    background: $color_bg_light_gray;
    padding: $space_xs $space_m;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background: $color_bg_active;
    }
  }
  &__radio {
    display: none;
  }
  &__radio-label {
    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: lime;
      border: 2px solid #ddd;
    }
    &--red {
      &:before {
        background: #ff9100;
      }
    }
    &--green {
      &:before {
        background: #06f406;
      }
    }
    &--gray {
      &:before {
        background: #afafaf;
      }
    }
    &--blue {
      &:before {
        background: #46aef3;
      }
    }
    &--yellow {
      &:before {
        background: #dceb0e;
      }
    }
    &--checked {
      &:before {
        border: solid 2px #333;
      }
    }
  }
  &__select {
    border: $border_default;
  }
  &__detail-update {
    &.active {
      color: red;
    }
  }
  &__mask {
    transition: $transtime_default;
    background: rgba(255, 255, 255);
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    &.active{
      opacity: 0.7;
      z-index: 1;
      transition: $transtime_default;
    }
  }
  &__image {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}