.c-icon {
  font-size: $fontsize_icon;
  &--modal-close {
    display: inline-block;
    font-size: $fontsize_icon;
    color: $color_font_white;
    margin-top: $space_s;
  }
  &--header {
    background: $color_bg_light_gray;
    padding: $space_s;
    border-radius: 50%;
    transition: $transtime_default;
    font-size: $fontsize_default;
    @include mq () {
      padding: 0;
      line-height: 40px;
      background: transparent;
      margin-right: $space_s;
    }
    cursor: pointer;
    &:hover {
      transition: $transtime_default;
      background: $color_active_bg_green;
      @include mq () {
        background: transparent;
      }
    }
    &.active {
      background: $color_active_bg_green;
      @include mq () {
        background: transparent;
        color: $color_main_green;
      }
    }
  }
  &--forward {
    display: inline-block;
    border-radius: 5px;
    background: $color_bg_light_gray;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: $fontsize_ml;
    margin-left: $space_s;
    color: $color_font_bright;
    transition: $transtime_default;
    &:first-of-type {
      margin-left: 0;
    }
    &:hover {
      transition: $transtime_default;
      color: $color_active_font;
      background: $color_active_bg_green;
    }
  }
  &--form-item {
    line-height: $height_form_row;
    width: 100%;
    text-align: center;
    color: $color_main_green;
  }
  &--date {
    line-height: $height_form_row;
    color: $color_main_green;
    display: inline-block;
    margin: 0 $space_ml;
  }
  &--adjustment {
    margin-right: $space_m;
    color: $color_main_orange;
  }
  &--adjustment-form {
    line-height: $height_adjustment_form_row;
  }
  &--adjustment-delete {
    color: $color_font_bright;
    transition: $transtime_default;
    line-height: $height_adjustment_form_row;
    margin-left: $space_m;
    &:hover {
      cursor: pointer;
      color: $color_font_available;
    }
  }
  &--adjustment-comment {
    @extend .c-icon--adjustment-delete;
    margin-left: $space_ms;
    vertical-align: middle;
  }
  &--adjustment-expand {
    @extend .c-icon--adjustment-delete;
    margin-left: 0;
    display: inline-block;
    line-height: $height_adjustment_form_row;
    padding: 0 $space_m;
    position: relative;
    z-index: 2;
    background: white;
  }
  &--agreement-delete {
    @extend .c-icon--adjustment-delete;
    margin-left: $space_ms;
    vertical-align: middle;
  }
  &--profile {
    font-size: $fontsize_m;
    padding: $space_s;
    border-radius: 50%;
    background: $color_bg_light_gray;
    cursor: pointer;
    transition: $transtime_default;
    &:hover {
      background: $color_active_bg_green;
    }
  }
}