.c-image {
  object-fit: cover;
  width: 100%;
  &--half-width {
    width: 83%;
    @include mq () {
      width: 60%;
    }
  }
  &--wait {
    width: 100%;
  }
  &--profile {
    width: 89px;
    height: 89px;
  }
  &--profile-edit {
    width: 200px;
    height: 200px;
    @include mq () {
      width: 100px;
      height: 100px;
    }
  }
  &--event-profile {
    width: $height_event_user_image;
    height: 100%;
    border-radius: 50%;
    border: $border_bright;
  }
  &--adjustment-sumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  &--disp {
    border-radius: 30px;
    border: 3px solid #333;
    box-shadow: $box_shadow_top;
  }
  &--top-about {
    height: 30px;
    margin-left: $space_m;
  }
  &--sending {
    width: 50%;
    position: relative;
    animation: sending 3s;
  }
  &--500 {
    width: 50%;
  }
}