.c-image {
  object-fit: cover;
  &--wait {
    width: 100%;
  }
  &--profile {
    width: 89px;
    height: 89px;
  }
  &--profile-edit {
    width: 200px;
    height: 200px;
  }
  &--event-profile {
    width: $height_event_user_image;
    height: 100%;
    border-radius: 50%;
    border: $border_bright;
  }
  &--adjustment-sumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}