.c-nav {
  width: 100%;
  height: $height_header;
  display: flex;
  justify-content: space-between;
  border-bottom: $border_default;
  transition: $transtime_default;
  &.active {
    background: rgba(255, 255, 255, 0.8);
  }
  &__left {
    display: inline-block;
    margin-left: 5%;
    line-height: $height_header;
  }
  &__right {
    display: inline-block;
    margin-right: 5%;
    line-height: $height_header;
  }
  &__menu {
    margin-left: $space_m;
    &--top {
      color: white;
      transition: $transtime_default;
      &.active {
        color: $color_font_default;
      }
    }
  }
  &--top {
    @extend .c-nav;
    position: fixed;
    border: none;
    z-index: 10;
  }
}