.c-text {
  &--error {
    font-size: $fontsize_s;
    color: red;
  }
  &--counter {
    font-size: $fontsize_ms;
    text-align: right;
  }
  &--flash {
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    line-height: $height_msg;
    background: $color_bg_notice;
    border-radius: 10px;
    border: solid 1px green;
  }
  &--flash-error {
    @extend .c-text--flash;
    background: $color_bg_error;
    border: solid 1px red;
  }
  &--menu {
    &:hover {
      font-size: $fontsize_ms;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &--sending {
    animation: blink 1s linear infinite;
    font-size: $fontsize_ms;
  }
}