.c-text {
  font-size: $fontsize_ms;
  &--content {
    font-size: $fontsize_ms;
  }
  &--error {
    font-size: $fontsize_s;
    color: $color_font_error;
  }
  &--counter {
    font-size: $fontsize_ms;
    text-align: right;
  }
  &--flash {
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    line-height: $height_msg;
    background: $color_bg_notice;
    border-radius: 10px;
    border: solid 1px green;
    @include mq () {
      font-size: $fontsize_s;
      line-height: $height_msg_ms;
    }
  }
  &--flash-error {
    @extend .c-text--flash;
    background: $color_bg_error;
    border: solid 1px red;
  }
  &--menu {
    font-size: $fontsize_ms;
    display: block;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &--sending {
    animation: blink 1s linear infinite;
    font-size: $fontsize_s;
    color: $color_font_bright;
  }
  &--notice {
    font-size: $fontsize_ms;
  }
  &--calendar {
    font-family: $font_soft;
  }
  &--detail-name {
    line-height: $height_event_user_image;
  }
  &--schedule-detail {
    line-height: $height_form_row;
  }
  &--result {
    padding: 0 $space_s;
    border-bottom: 3px solid $color_main_orange;
  }
  &--agreement {
    font-size: $fontsize_ms;
    margin-top: $space_s;
  }
  &--agreement-content {
    &:before {
      content: attr(data-text);
      display: block;
      position: absolute;
      background: red;
    }
  }
  &--number {
    display: inline-block;
    background: $color_main_green;
    color: white;
    font-size: $fontsize_ms;
    padding: 0 $space_s;
    border-radius: 5px;
  }
  &--number-orange {
    @extend .c-text--number;
    background: $color_main_orange;
  }
  &--top-message {
    text-align: center;
    font-weight: bold;
    font-size: $fontsize_top_message;
    margin-bottom: $space_2l;
    @include mq () {
      font-size: $fontsize_l;
    }
  }
  &--top-description {
    text-align: center;
    font-size: $fontsize_2l;
    @include mq () {
      font-size: $fontsize_default;
    }
  }
  &--top-mb-3l {
    margin-bottom: $space_3l;
    @include mq () {
      margin-bottom: $space_l;
    }
  }
  &--top-about {
    font-size: $fontsize_default;
  }
  &--usage-description {
    padding: $space_2l;
    text-align: left;
    @include mq () {
      padding: $space_l;
    }
    &-team {
      text-align: center;
      @include mq () {
        text-align: left;
      }
    }
  }
  &--usage-section {
    padding: $space_s 0;
  }
  &--gomen {
    color: $color_main_red;
  }
  &--deny {
    display: inline-block;
    margin-left: $space_m;
    text-decoration: underline;
    @include mq () {
      margin: 0;
    }
  }
}