.c-title {
  padding: $space_s;
  font-size: $fontsize_ml;
  @include mq () {
    padding: $space_xs $space_s;
  }
  &--head {
    background: $color_main_orange;
    border-radius: 10px 10px 0 0;
    color: $color_font_white;
    text-align: center;
  }
  &--pending {
    color: $color_font_white;
    text-align: center;
    background: $color_main_green;
    position: relative;
    clip-path: polygon(0% 0%, 98% 0%, 100% 100%, 2% 100%);
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      background: $color_bg_white;
      top: 0;
      left: 0;
      clip-path: polygon(10% 10%, 12% 10%, 14% 90%, 12% 90%);
    }
  }
  &--event-detail {
    padding: 0 $space_m;
    border-bottom: 3px solid $color_main_green;
  }
  &--section-adjustment {
    font-size: $fontsize_default;
    padding: 0 $space_s;
    border-bottom: 3px solid $color_main_orange;
  }
  &--section-agreements {
    font-size: $fontsize_m;
    font-family: $font_soft;
    line-height: $height_agreement_title;
    @include mq () {
      font-size: $fontsize_default;
      line-height: 20px;
      padding: 0 $space_s;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 3px;
      margin-right: $space_m;
      background: $color_main_green;
      border-radius: 50%;
    }
  }
  &--section-agreements-red {
    @extend .c-title--section-agreements;
    &:before {
      background: $color_main_light_red;
    }
  }
  &--user-name {
    text-align: center;
    border-bottom: 2px solid $color_main_navy;
    padding: 0 $space_s;
  }
  &--wait {
    @extend .c-title--user-name;
    display: inline-block;
    margin-bottom: $space_s;
  }
  &--top-about {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: rotate(-15deg) translateX(-50%);
    font-size: $fontsize_2l;
    background: $color_main_cream;
    padding: $space_m $space_l;
    border-left: 4px dotted rgba(0,0,0,0.1);
    border-right: 4px dotted rgba(0,0,0,0.1);
    box-shadow: $box_shadow_default;
    color: $color_main_red;
  }
  &--top-accent {
    display: inline-block;
    font-size: 30px;
    padding: $space_s $space_m;
    margin-bottom: $space_m;
    overflow: hidden;
    position: relative;
    @include mq () {
      font-size: $fontsize_l;
    }
    &:before {
      content: '';
      display: block;
      width: 50%;
      height: 50px;
      background: $color_main_light_red;
      transform: rotate(-30deg);
      position: absolute;
      z-index: -1;
      top: 50%;
      right: -20%;
    }
  }
  &--usage {
    font-size: $fontsize_top_section;
    position: relative;
    display: inline-block;
    padding: $space_s 0;
    margin-bottom: $space_4l;
    background: linear-gradient(transparent 70%, $color_main_light_red 80%);
    @include mq () {
      font-size: $fontsize_l;
      margin-bottom: $space_2l;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 2px;
      background: $color_font_default;
    }
    &:before {
      transform: rotate(-30deg);
      top: 0;
      left: -30px;
    }
    &:after {
      transform: rotate(30deg);
      top: 0;
      right: -30px;
    }
    &__container {
      text-align: center;
    }
  }
  &--usage-sub {
    font-size: $fontsize_2l;
  }
  &--usage-sub-under {
    display: inline-block;
    &.green {
      background: linear-gradient(transparent 65%, $color_main_green 0%);
    }
    &.sky {
      background: linear-gradient(transparent 65%, $color_main_sky 0%);
    }
    &.red {
      background: linear-gradient(transparent 60%, $color_main_light_red 80%);
    }
  }
  &--conclusion {
    text-align: center;
    font-size: $fontsize_2l;
    @include mq () {
      font-size: $fontsize_l;
    }
  }
  &--password-change {
    text-align: center;
    background: $color_main_green;
    color: white;
    border-radius: 10px 10px 0 0;
  }
}