.p-container {
  padding-bottom: $space_2l;
  &--wait {
    margin: $space_l 0;
    border-radius: 20px;
    box-shadow: $box_shadow_default;
    overflow: hidden;
  }
  &--btn-center {
    text-align: center;
  }
  &--btn-right {
    text-align: right;
  }
  &--error {
    width: 100%;
    height: 26px;
  }
  &--form-input {
    margin-bottom: $space_m;
  }
  &--form-calendar {
    display: flex;
    align-items: center;
  }
  &--form-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: $height_form_row;
    height: $height_form_row;
    width: 100%;
  }
  &--form-select-date {
    margin-bottom: $space_m;
  }
  &--input-notice {
    display: flex;
    justify-content: end;
    height: 20px;
  }
  &--header-icon {
    display: inline-block;
    position: relative;
    margin-right: $space_s;
    &::before {
      transition: $transtime_default;
      cursor: auto;
      opacity: 0;
      content: attr(data-text);
      display: inline-block;
      position: absolute;
      font-size: $fontsize_s;
      width: 60px;
      line-height: 20px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &:hover::before {
      transition: $transtime_default;
      opacity: 1;
    }
  }
  &--header-submenu {
    padding: $space_s;
    position: absolute;
    top: 60px;
    width: 100px;
    line-height: 30px;
    border: $border_default;
    font-size: $fontsize_ms;
    left: 50%;
    transform: translateX(-50%);
    background: $color_bg_white;
    box-shadow: $box_shadow_default;
    border-radius: 10px;
  }
  &--agreements {
    max-width: 900px;
    padding: $space_l;
    margin: 0 auto;
    min-height: calc(100vh - $height_footer - $height_header);
  }
  &--agreements-row {
    margin-top: $space_m;
    padding: $space_m;
    border: $border_default;
    border-radius: 20px;
    background: $color_bg_light_green;
  }
  &--agreements-row-red {
    @extend .p-container--agreements-row;
    background: $color_bg_light_red;
  }
  &--agreements-content {
    padding: 0 $space_l;
  }
  &--agreements-item {
    margin-bottom: $space_s;
  }
  &--agreements-detail {
    display: inline-block;
    position: relative;
  }
  &--profile {
    border: $border_default;
    border-radius: 10px;
    padding: $space_s;
    line-height: 1.6em;
    width: 200px;
    background: $color_bg_white;
  }
  &--image-profile {
    position: relative;
    width: 50%;
    border-radius: 50%;
    border: $border_default;
    margin: 0 auto;
    overflow: hidden;
  }
  &--image-profile-edit {
    @extend .p-container--image-profile;
    width: 200px;
  }
  &--withdraw {
    width: 500px;
    border: $border_default;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: $space_l;
  }
  &--withdraw-body {
    padding: $space_m;
  }
  &--invitation, &--auth {
    border-radius: 10px;
    box-shadow: $box_shadow_dark;
    margin-bottom: $space_2l;
  }
  &--notice {
    margin-top: $space_l;
    padding: $space_m;
    border: $border_default;
    border-radius: 10px;
  }
  &--notice-register {
    padding: $space_m;
    padding-bottom: 0;
  }
  &--form-row {
    height: $height_form_row;
    display: flex;
    justify-content: space-between;
  }
  &--form-detail {
    height: auto;
  }
  &--form-left {
    width: 20%;
  }
  &--form-right {
    width: 80%;
  }
  &--event-profile {
    height: $height_event_user_image;
    text-align: center;
    margin-bottom: $space_m;
  }
  &--event-title {
    text-align: center;
    margin-bottom: $space_m;
  }
  &--event-date {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &--top-adjustment {
    display: flex;
    min-height: calc(100vh - $height_footer - $height_header);
    &__left {
      width: 40%;
      padding: $space_l;
      padding-right: $space_m;
    }
    &__right {
      width: 60%;
      padding: $space_l;
      padding-left: $space_m;
    }
    &__left-frame, &__right-frame {
      border: $border_default;
      padding: $space_m;
      border-radius: 20px;
    }
    &__right-frame {
    }
  }
  &--adjustment-row {
    margin-top: $space_m;
    &__title {
      display: flex;
      align-items: center;
    }
  }
  &--adjustment-form-row {
    display: flex;
    height: $height_adjustment_form_row;
    &__left {
      width: 15%;
    }
    &__right {
      width: 85%;
    }
  }
  &--adjustment-kotei, &--adjustment-hendo {
    border: $border_default;
    padding: $space_m;
    position: relative;
    z-index: 1;
    background: $color_main_cream;
    border-radius: 0 10px 10px 10px;
  }
  &--adjustment-hendo {
    background: $color_bg_light_green;
  }
  &--adjustment-kotei {
    background: $color_bg_light_red;
  }
  &--adjustment-result {
    display: flex;
    justify-content: start;
    margin-top: $space_s;
    font-size: $fontsize_ms;
    &__left {
      width: 20%;
      border-bottom: $border_bright;
      position: relative;
    }
    &__right {
      margin-left: $space_m;
      text-align: center;
    }
  }
  &--adjustment-expand {
    text-align: center;
    height: $height_adjustment_form_row;
    margin-top: $space_s;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: $color_main_bright_gray;
      position: absolute;
      top: 50%;
    }
  }
  &--user-title {
    text-align: center;
    margin-bottom: $space_m;
  }
}