.p-container {
  padding-bottom: $space_2l;
  &--btn-center {
    text-align: center;
  }
  &--btn-right {
    text-align: right;
  }
  &--error {
    width: 100%;
    height: 26px;
  }
  &--form-input {
    margin-bottom: $space_m;
  }
  &--form-calendar {
    display: flex;
    align-items: center;
  }
  &--form-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: $height_form_row;
    height: $height_form_row;
    width: 100%;
  }
  &--form-select-date {
    margin-bottom: $space_m;
  }
  &--input-notice {
    display: flex;
    justify-content: end;
    height: 20px;
  }
  &--header-icon {
    display: inline-block;
    position: relative;
    margin-right: $space_s;
    &::before {
      transition: $transtime_default;
      cursor: auto;
      opacity: 0;
      content: attr(data-text);
      display: inline-block;
      position: absolute;
      font-size: $fontsize_s;
      width: 60px;
      line-height: 20px;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &:hover::before {
      transition: $transtime_default;
      opacity: 1;
    }
  }
  &--header-submenu {
    padding: $space_s;
    position: absolute;
    top: 60px;
    width: 100px;
    line-height: 30px;
    border: $border_default;
    font-size: $fontsize_ms;
    left: 50%;
    transform: translateX(-50%);
    background: $color_bg_white;
    box-shadow: $box_shadow_default;
    border-radius: 10px;
  }
  &--agreements {
    max-width: 900px;
    padding: $space_m;
    margin: 0 auto;
    background: $color_bg_error;
    border-radius: 10px;
  }
  &--profile {
    border: $border_default;
    border-radius: 10px;
    padding: $space_s;
    line-height: 1.6em;
    width: 200px;
    background: $color_bg_white;
  }
  &--image-profile {
    position: relative;
    width: 50%;
    border-radius: 50%;
    border: $border_default;
    margin: 0 auto;
    overflow: hidden;
  }
  &--image-profile-edit {
    @extend .p-container--image-profile;
    width: 200px;
  }
  &--withdraw {
    width: 500px;
    border: $border_default;
    border-radius: 10px;
    margin: 0 auto;
    padding: $space_s;
  }
  &--invitation, &--auth {
    border-radius: 10px;
    box-shadow: $box_shadow_dark;
    margin-bottom: $space_2l;
  }
  &--notice {
    margin-top: $space_l;
    padding: $space_m;
    border: $border_default;
    border-radius: 10px;
  }
  &--notice-register {
    padding: $space_m;
    padding-bottom: 0;
  }
  &--form-row {
    height: $height_form_row;
    display: flex;
    justify-content: space-between;
  }
  &--form-left {
    width: 20%;
  }
  &--form-right {
    width: 80%;
  }
  &--event-profile {
    height: $height_event_user_image;
    text-align: center;
    margin-bottom: $space_m;
  }
}