.p-wrapper{
  &--invitation {
    width: 500px;
    max-width: 100vw;
    margin: 0 auto;
    padding-top: $space_2l;
    min-height: calc(100vh - $height_header - $height_footer);
  }
  &--auth {
    width: 500px;
    margin: auto;
    padding-top: $space_2l;
  }
  &--event-form {
    @extend .p-wrapper--auth;
    position: relative;
    z-index: 3;
  }
  &--agreement-form {
    @extend .p-wrapper--auth;
    position: relative;
    z-index: 3;
  }
  &--modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
  }
  &--small-calendar {
    position: relative;
  }
  &--profile {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  &--adjustment {
    width: 900px;
    margin: 0 auto;
  }
  &--adjustment-form {
    margin-top: $space_l;
  }
}