.p-wrapper{
  &--content {
    min-height: calc(100vh - $height_footer - $height_header);
  }
  &--auth {
    width: 500px;
    padding-top: $space_2l;
    margin-right: auto;
    margin-left: auto;
  }
  &--event-form {
    @extend .p-wrapper--auth;
    position: relative;
    z-index: 3;
  }
  &--modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.8);
  }
  &--small-calendar {
    position: relative;
  }
}