/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #fcfafa;
  line-height: 1.6em;
}

i:hover {
  cursor: pointer;
}

::-moz-placeholder {
  color: #999;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
}

::placeholder {
  color: #999;
  font-size: 12px;
}

input {
  color: #333;
}

a:hover {
  cursor: pointer;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #fff;
  line-height: 1.6em;
}

i:hover,
a:hover,
button:hover {
  cursor: pointer;
}

::-moz-placeholder {
  color: #999;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
}

::placeholder {
  color: #999;
  font-size: 12px;
}

#l-main {
  min-height: calc(100vh - 80px - 80px);
}

.c-auth-nav {
  display: flex;
}

.c-auth-nav__item {
  display: inline-block;
}

.c-btn {
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
}

.c-btn--submit,
.c-btn--submit-navy,
.c-btn--submit-red {
  color: #fefefe;
  background: #96CEB4;
  border-radius: 5px;
  transition: 0.5s;
}

.c-btn--submit:hover,
.c-btn--submit-navy:hover,
.c-btn--submit-red:hover {
  background: #74ac92;
}

.c-btn--submit-red {
  background: #f7b1af;
}

.c-btn--submit-red:hover {
  background: #D9534F;
}

.c-btn--submit-navy {
  background: #88c3ca;
  transition: 0.5s;
}

.c-btn--submit-navy:hover {
  background: #aae5ec;
}

.c-btn--clear {
  line-height: 40px;
  padding: 0 10px;
  background: #ffcf82;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.c-btn--clear:hover {
  background: #FFAD60;
}

.c-btn--prev,
.c-btn--next {
  background: #f8f8f8;
  padding: 5px 20px;
  font-size: 14px;
  transition: 0.5s;
  color: #999;
}

.c-btn--prev:hover,
.c-btn--next:hover {
  background: #d2fce8;
  color: #77a18e;
}

.c-btn--prev {
  border-radius: 15px 5px 5px 15px;
  margin-right: 10px;
}

.c-btn--next {
  border-radius: 5px 15px 15px 5px;
  margin-left: 10px;
}

.c-btn--form-tab-hendo,
.c-btn--form-tab-kotei {
  border: 1px solid #bbb;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  position: relative;
  top: 1px;
  z-index: 1;
}

.c-btn--form-tab-hendo.active,
.c-btn--form-tab-kotei.active {
  z-index: 3;
}

.c-btn--form-tab-hendo {
  background: #f6fff5;
}

.c-btn--form-tab-kotei {
  background: #ffefef;
}

.c-btn--top-register {
  background: #96CEB4;
  color: white;
  padding: 0;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  box-shadow: #cacaca 0 0 15px;
  transition: 0.5s;
}

.c-btn--top-register:hover {
  transform: scale(0.95);
  box-shadow: none;
  background: #FFAD60;
}

.c-btn--select {
  background: #96CEB4;
  color: white;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.5s;
}

.c-btn--select:hover {
  background: #f7b1af;
}

.c-btn--select.active {
  background: #f7b1af;
}

.c-calendar__body {
  height: calc(100vh - 80px - 80px - 50px - 30px);
  min-height: 200px;
}

.c-calendar--input {
  margin: 0 auto;
  max-width: 300px;
}

.c-calendar__head-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  line-height: 50px;
}

.c-calendar__current-date {
  margin: 0 30px;
}

.c-calendar__header--input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.c-calendar__dotw,
.c-calendar__dotw--input {
  display: flex;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  height: 30px;
  line-height: 30px;
}

.c-calendar__dotw--input {
  border-right: none;
}

.c-calendar__dotw-name,
.c-calendar__dotw-name--input {
  text-align: center;
  width: 14.2857142857%;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-calendar__dotw-name--small {
  border-left: 1px solid #eee;
}

.c-calendar__dotw-name--small:first-of-type {
  border-left: none;
}

.c-calendar__row,
.c-calendar__row--input {
  display: flex;
  height: calc((100% - 50px - 30px) / 5);
  min-height: 30px;
  border-left: 1px solid #eee;
}

.c-calendar__row--input {
  font-size: 14px;
  height: 40px;
  align-items: center;
  border: none;
}

.c-calendar__date {
  margin-bottom: 3px;
  height: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-calendar__day {
  font-size: 12px;
  display: inline-block;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 26px;
  text-align: center;
}

.c-calendar__day.today {
  background: #d2fce8;
  color: #77a18e;
  font-weight: bold;
}

.c-calendar__day.red {
  color: #D9534F;
  font-weight: 700;
}

.c-calendar__day.blue {
  color: #5151f3;
  font-weight: 700;
}

.c-calendar__day--input {
  width: 14.2857142857%;
  text-align: center;
}

.c-calendar__day--inner {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  line-height: 30px;
}

.c-calendar__day--inner:hover {
  cursor: pointer;
  background: #fff8f8;
}

.c-calendar__day--inner.active {
  background: #d2fce8;
}

.c-calendar__date-container,
.c-calendar__date-container--input {
  width: 14.2857142857%;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-calendar__date-container:hover,
.c-calendar__date-container--input:hover {
  background: #fafaf4;
}

.c-calendar__date-container--input {
  cursor: pointer;
}

.c-calendar__date-container--input.active {
  background: #df8a3b;
}

.c-calendar__outer-month {
  background: #f8f8f8;
}

.c-calendar__event,
.c-calendar__holiday {
  color: #fefefe;
  padding-left: 10px;
  margin-bottom: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}

.c-calendar__event.hide,
.hide.c-calendar__holiday {
  display: none;
}

.c-calendar__event:hover,
.c-calendar__holiday:hover {
  cursor: pointer;
}

.c-calendar__holiday {
  padding: 0;
  text-align: center;
  padding: 0 10%;
  background: #D9534F;
  height: 25px;
  line-height: 25px;
  margin-bottom: 0;
  display: inline-block;
}

.c-calendar__holiday:hover {
  cursor: auto;
}

.c-calendar--small {
  box-shadow: 0px 0px 10px #ccc;
  width: 280px;
  background: #fff;
  position: absolute;
  left: 82%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 10px;
}

.c-calendar--small.left {
  left: 40%;
}

.c-calendar__hidden-container {
  position: relative;
}

.c-calendar__hidden-event {
  position: absolute;
  line-height: 27px;
  z-index: 2;
  width: 30px;
  height: 30px;
  top: -23px;
  right: 5px;
  border: 1px solid #bbb;
  border-radius: 50%;
  background: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 0px 10px #aaa;
  cursor: pointer;
  transition: 0.5s;
}

.c-calendar__hidden-event:hover {
  background: #d2fce8;
}

.c-calendar__container-event-list {
  position: relative;
  border-radius: 10px;
  z-index: 2;
  top: -100px;
  box-shadow: #ededed 0 0 15px;
  width: 200px;
  background: white;
  border: 1px solid #bbb;
  padding: 10px 20px;
}

.c-date {
  line-height: 40px;
  display: inline-block;
}

.c-date--adjustment {
  font-family: "M PLUS Rounded 1c";
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.c-footer {
  line-height: 80px;
  text-align: center;
  border-top: 1px solid #bbb;
}

.c-form {
  padding: 30px 20px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.c-form--event {
  border-radius: 10px;
}

.c-form__label {
  display: inline-block;
  font-size: 14px;
}

.c-form__label--event {
  white-space: nowrap;
  margin-right: 20px;
  font-size: 14px;
}

.c-form__input {
  display: block;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 10px;
}

.c-form__input--event {
  margin: 0;
}

.c-form__input--underline {
  margin: 0;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #96CEB4;
}

.c-form__input--title {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid #96CEB4;
  font-size: 20px;
  padding: 5px 10px;
}

.c-form__input--title::-moz-placeholder {
  font-size: 20px;
}

.c-form__input--title:-ms-input-placeholder {
  font-size: 20px;
}

.c-form__input--title::placeholder {
  font-size: 20px;
}

.c-form__input--adjustment {
  border-bottom: 2px solid #96CEB4;
  width: 100%;
  font-size: 14px;
}

.c-form__input--adjustment-red {
  border-bottom: 2px solid #f7b1af;
  width: 100%;
  font-size: 14px;
}

.c-form__textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 5px 10px;
  font-size: 14px;
}

.c-form__date {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #f8f8f8;
  padding: 5px 20px;
  border-radius: 10px;
}

.c-form__date:hover {
  cursor: pointer;
}

.c-form__date.active {
  background: #b7ffff;
}

.c-form__radio {
  display: none;
}

.c-form__radio-label {
  position: relative;
}

.c-form__radio-label:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.c-form__radio-label--red:before {
  background: #ff9100;
}

.c-form__radio-label--green:before {
  background: #06f406;
}

.c-form__radio-label--gray:before {
  background: #afafaf;
}

.c-form__radio-label--blue:before {
  background: #46aef3;
}

.c-form__radio-label--yellow:before {
  background: #dceb0e;
}

.c-form__radio-label--checked:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -3px;
  border: 1px solid #bbb;
}

.c-form__select {
  border: 1px solid #bbb;
}

.c-form__select--adjustment {
  font-size: 14px;
  border-bottom: 2px solid #96CEB4;
  width: 100%;
}

.c-form__select--adjustment-red {
  font-size: 14px;
  border-bottom: 2px solid #f7b1af;
  width: 100%;
}

.c-form__detail-update.active {
  color: red;
}

.c-form__mask {
  transition: 0.5s;
  background: white;
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.c-form__mask.active {
  opacity: 0.7;
  z-index: 1;
  transition: 0.5s;
}

.c-form__image {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.c-icon {
  font-size: 30px;
}

.c-icon--modal-close {
  display: inline-block;
  font-size: 30px;
  color: #fefefe;
  margin-top: 10px;
}

.c-icon--header {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 16px;
  cursor: pointer;
}

.c-icon--header:hover {
  transition: 0.5s;
  background: #d2fce8;
}

.c-icon--header.active {
  background: #d2fce8;
}

.c-icon--forward {
  display: inline-block;
  border-radius: 5px;
  background: #f8f8f8;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  margin-left: 10px;
  color: #999;
  transition: 0.5s;
}

.c-icon--forward:first-of-type {
  margin-left: 0;
}

.c-icon--forward:hover {
  transition: 0.5s;
  color: #77a18e;
  background: #d2fce8;
}

.c-icon--form-item {
  line-height: 40px;
  width: 100%;
  text-align: center;
  color: #96CEB4;
}

.c-icon--date {
  line-height: 40px;
  color: #96CEB4;
  display: inline-block;
  margin: 0 30px;
}

.c-icon--adjustment {
  margin-right: 20px;
  color: #FFAD60;
}

.c-icon--adjustment-form {
  line-height: 30px;
}

.c-icon--adjustment-delete,
.c-icon--agreement-delete,
.c-icon--adjustment-expand,
.c-icon--adjustment-comment {
  color: #999;
  transition: 0.5s;
  line-height: 30px;
  margin-left: 20px;
}

.c-icon--adjustment-delete:hover,
.c-icon--agreement-delete:hover,
.c-icon--adjustment-expand:hover,
.c-icon--adjustment-comment:hover {
  cursor: pointer;
  color: #8db494;
}

.c-icon--adjustment-comment {
  margin-left: 10px;
  vertical-align: middle;
}

.c-icon--adjustment-expand {
  margin-left: 0;
  display: inline-block;
  line-height: 30px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  background: white;
}

.c-icon--agreement-delete {
  margin-left: 5px;
  vertical-align: middle;
}

.c-icon--profile {
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
  transition: 0.5s;
}

.c-icon--profile:hover {
  background: #d2fce8;
}

.c-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.c-image--half-width {
  width: 50%;
}

.c-image--wait {
  width: 100%;
}

.c-image--profile {
  width: 89px;
  height: 89px;
}

.c-image--profile-edit {
  width: 200px;
  height: 200px;
}

.c-image--event-profile {
  width: 60px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #eee;
}

.c-image--adjustment-sumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.c-image--disp {
  border-radius: 30px;
  border: 3px solid #333;
}

.c-image--top-about {
  height: 30px;
  margin-left: 20px;
}

.c-link--router {
  display: inline-block;
  padding: 5px 10px;
  background: #333;
  color: white;
}

.c-logo {
  font-size: 26px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.c-logo--top {
  color: white;
  transition: 0.5s;
}

.c-logo--top.active {
  color: #333;
}

.c-nav,
.c-nav--top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  transition: 0.5s;
}

.c-nav.active,
.active.c-nav--top {
  background: rgba(255, 255, 255, 0.8);
}

.c-nav__left {
  display: inline-block;
  margin-left: 5%;
  line-height: 80px;
}

.c-nav__right {
  display: inline-block;
  margin-right: 5%;
  line-height: 80px;
}

.c-nav__menu {
  margin-left: 20px;
}

.c-nav__menu--top {
  color: white;
  transition: 0.5s;
}

.c-nav__menu--top.active {
  color: #333;
}

.c-nav--top {
  position: fixed;
  border: none;
  z-index: 10;
}

.c-popup {
  position: absolute;
  background: white;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
  z-index: 2;
  top: 38px;
  left: 0;
}

.c-popup:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  transform: rotate(45deg);
  position: absolute;
  top: -11px;
  left: 53px;
  background: white;
}

.c-popup--agreement {
  font-size: 14px;
  left: -53px;
}

.c-popup--agreement:before {
  left: 64px;
}

.c-text {
  font-size: 14px;
}

.c-text--error {
  font-size: 12px;
  color: #e47777;
}

.c-text--counter {
  font-size: 14px;
  text-align: right;
}

.c-text--flash,
.c-text--flash-error {
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  background: #94d2bd;
  border-radius: 10px;
  border: solid 1px green;
}

.c-text--flash-error {
  background: #fdd1d1;
  border: solid 1px red;
}

.c-text--menu:hover {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.c-text--sending {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
  font-size: 12px;
  color: #999;
}

.c-text--notice {
  font-size: 14px;
}

.c-text--calendar {
  font-family: "M PLUS Rounded 1c";
}

.c-text--detail-name {
  line-height: 60px;
}

.c-text--schedule-detail {
  line-height: 40px;
}

.c-text--result {
  padding: 0 10px;
  border-bottom: 3px solid #FFAD60;
}

.c-text--agreement-content:before {
  content: attr(data-text);
  display: block;
  position: absolute;
  background: red;
}

.c-text--number,
.c-text--number-orange {
  display: inline-block;
  background: #96CEB4;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 10px;
  line-height: 30px;
}

.c-text--number-orange {
  background: #FFAD60;
}

.c-text--top-message {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 60px;
}

.c-text--top-description {
  text-align: center;
  font-size: 26px;
}

.c-text--top-about {
  margin-bottom: 40px;
}

.c-text--usage-description {
  padding: 60px;
  text-align: left;
}

.c-text--usage-section {
  padding: 10px 0;
}

.c-title {
  padding: 10px;
  font-size: 20px;
}

.c-title--head {
  background: #FFAD60;
  border-radius: 10px 10px 0 0;
  color: #fefefe;
  text-align: center;
}

.c-title--pending {
  color: #fefefe;
  text-align: center;
  background: #96CEB4;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 98% 0%, 100% 100%, 2% 100%);
          clip-path: polygon(0% 0%, 98% 0%, 100% 100%, 2% 100%);
}

.c-title--pending::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(10% 10%, 12% 10%, 14% 90%, 12% 90%);
          clip-path: polygon(10% 10%, 12% 10%, 14% 90%, 12% 90%);
}

.c-title--event-detail {
  padding: 0 20px;
  border-bottom: 3px solid #96CEB4;
}

.c-title--section-adjustment {
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 3px solid #FFAD60;
}

.c-title--section-agreements,
.c-title--section-agreements-red {
  font-size: 18px;
  font-family: "M PLUS Rounded 1c";
  line-height: 25px;
}

.c-title--section-agreements:before,
.c-title--section-agreements-red:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 20px;
  background: #96CEB4;
  border-radius: 50%;
}

.c-title--section-agreements-red:before {
  background: #f7b1af;
}

.c-title--user-name,
.c-title--wait {
  text-align: center;
  border-bottom: 2px solid #88c3ca;
  padding: 0 10px;
}

.c-title--wait {
  display: inline-block;
  margin-bottom: 10px;
}

.c-title--top-about {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: rotate(-15deg) translateX(-50%);
  font-size: 26px;
  background: #FFEEAD;
  padding: 20px 40px;
  border-left: 4px dotted rgba(0, 0, 0, 0.1);
  border-right: 4px dotted rgba(0, 0, 0, 0.1);
  box-shadow: #ededed 0 0 15px;
  color: #D9534F;
}

.c-title--top-accent {
  display: inline-block;
  font-size: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.c-title--top-accent:before {
  content: "";
  display: block;
  width: 50%;
  height: 50px;
  background: #f7b1af;
  transform: rotate(-30deg);
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -20%;
}

.c-title--usage {
  font-size: 36px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 60px;
}

.c-title--usage:before,
.c-title--usage:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 2px;
  background: #333;
}

.c-title--usage:before {
  transform: rotate(-30deg);
  top: 0;
  left: -30px;
}

.c-title--usage:after {
  transform: rotate(30deg);
  top: 0;
  right: -30px;
}

.c-title--usage__container {
  text-align: center;
}

.c-title--usage-sub {
  font-size: 26px;
}

.c-title--conclusion {
  text-align: center;
  font-size: 26px;
}

.p-container {
  padding-bottom: 60px;
}

.p-container--wait {
  margin: 40px 0;
  border-radius: 20px;
  box-shadow: #ededed 0 0 15px;
  overflow: hidden;
}

.p-container--btn-center {
  text-align: center;
}

.p-container--btn-right {
  text-align: right;
}

.p-container--error {
  width: 100%;
  height: 26px;
}

.p-container--form-input {
  margin-bottom: 20px;
}

.p-container--form-calendar {
  display: flex;
  align-items: center;
}

.p-container--form-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  height: 40px;
  width: 100%;
}

.p-container--form-select-date {
  margin-bottom: 20px;
}

.p-container--input-notice {
  display: flex;
  justify-content: flex-end;
  height: 20px;
}

.p-container--header-icon {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.p-container--header-icon::before {
  transition: 0.5s;
  cursor: auto;
  opacity: 0;
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  font-size: 12px;
  width: 60px;
  line-height: 20px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.p-container--header-icon:hover::before {
  transition: 0.5s;
  opacity: 1;
}

.p-container--header-submenu {
  padding: 10px;
  position: absolute;
  top: 60px;
  width: 100px;
  line-height: 30px;
  border: 1px solid #bbb;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: #ededed 0 0 15px;
  border-radius: 10px;
}

.p-container--agreements {
  max-width: 900px;
  padding: 40px;
  margin: 0 auto;
  min-height: calc(100vh - 80px - 80px);
}

.p-container--agreements-row,
.p-container--agreements-row-red {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 20px;
  background: #f6fff5;
}

.p-container--agreements-row-red {
  background: #ffefef;
}

.p-container--agreements-content {
  padding: 0 40px;
}

.p-container--agreements-item {
  margin-bottom: 10px;
}

.p-container--agreements-detail {
  display: inline-block;
  position: relative;
}

.p-container--profile {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.6em;
  width: 200px;
  background: #fff;
}

.p-container--image-profile,
.p-container--image-profile-edit {
  position: relative;
  width: 50%;
  border-radius: 50%;
  border: 1px solid #bbb;
  margin: 0 auto;
  overflow: hidden;
}

.p-container--image-profile-edit {
  width: 200px;
}

.p-container--withdraw {
  width: 500px;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

.p-container--withdraw-body {
  padding: 20px;
}

.p-container--invitation,
.p-container--auth {
  border-radius: 10px;
  box-shadow: #cacaca 0 0 15px;
  margin-bottom: 60px;
}

.p-container--notice {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.p-container--notice-register {
  padding: 20px;
  padding-bottom: 0;
}

.p-container--form-row {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.p-container--form-detail {
  height: auto;
}

.p-container--form-left {
  width: 20%;
}

.p-container--form-right {
  width: 80%;
}

.p-container--event-profile {
  height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.p-container--event-title {
  text-align: center;
  margin-bottom: 20px;
}

.p-container--event-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-container--top-adjustment {
  display: flex;
  min-height: calc(100vh - 80px - 80px);
}

.p-container--top-adjustment__left {
  width: 40%;
  padding: 40px;
  padding-right: 20px;
}

.p-container--top-adjustment__right {
  width: 60%;
  padding: 40px;
  padding-left: 20px;
}

.p-container--top-adjustment__left-frame,
.p-container--top-adjustment__right-frame {
  border: 1px solid #bbb;
  padding: 20px;
  border-radius: 20px;
}

.p-container--adjustment-row {
  margin-top: 20px;
}

.p-container--adjustment-row__title {
  display: flex;
  align-items: center;
}

.p-container--adjustment-form-row {
  display: flex;
  height: 30px;
}

.p-container--adjustment-form-row__left {
  width: 15%;
}

.p-container--adjustment-form-row__right {
  width: 85%;
}

.p-container--adjustment-kotei,
.p-container--adjustment-hendo {
  border: 1px solid #bbb;
  padding: 20px;
  position: relative;
  z-index: 1;
  background: #FFEEAD;
  border-radius: 0 10px 10px 10px;
}

.p-container--adjustment-hendo {
  background: #f6fff5;
}

.p-container--adjustment-kotei {
  background: #ffefef;
}

.p-container--adjustment-result {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 14px;
}

.p-container--adjustment-result__left {
  width: 20%;
  border-bottom: 1px solid #eee;
  position: relative;
}

.p-container--adjustment-result__right {
  margin-left: 20px;
  text-align: center;
}

.p-container--adjustment-expand {
  text-align: center;
  height: 30px;
  margin-top: 10px;
  position: relative;
}

.p-container--adjustment-expand:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  top: 50%;
}

.p-container--user-title {
  text-align: center;
  margin-bottom: 20px;
}

.p-container--invitation-image {
  height: 300px;
  width: 100%;
}

.p-container--top-middle {
  max-width: 1200px;
  margin: 0 auto;
}

.p-container--usage-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.p-container--usage-flex__left,
.p-container--usage-flex__right {
  width: 50%;
}

.p-container--usage-flex__leftside,
.p-container--usage-flex__center,
.p-container--usage-flex__rightside {
  padding: 40px;
  width: 33%;
}

.p-container--usage__disp {
  max-width: 980px;
  height: 540px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.p-container--top-btn-center {
  margin-top: 60px;
  text-align: center;
}

.p-wrapper--invitation {
  width: 500px;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 60px;
  min-height: calc(100vh - 80px - 80px);
}

.p-wrapper--auth,
.p-wrapper--agreement-form,
.p-wrapper--event-form {
  width: 500px;
  margin: auto;
  padding-top: 60px;
}

.p-wrapper--event-form {
  position: relative;
  z-index: 3;
}

.p-wrapper--agreement-form {
  position: relative;
  z-index: 3;
}

.p-wrapper--modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.p-wrapper--small-calendar {
  position: relative;
}

.p-wrapper--profile {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.p-wrapper--adjustment {
  width: 900px;
  margin: 0 auto;
}

.p-wrapper--adjustment-form {
  margin-top: 40px;
}

.p-top__hero {
  background-image: url(/images/hero4.jpeg?d2509dcbdf5cda0f4a7abfefc2ea6e3e);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.p-top__about {
  padding: 120px 0;
}

.p-top__about--content {
  position: relative;
  margin-top: 120px;
  border: 3px solid #96CEB4;
  padding: 80px;
  border-radius: 20px;
  box-shadow: #cacaca 0 10px 15px;
}

.p-top__usage {
  padding: 80px 0;
  background: #FFffbe;
}

.p-top__message {
  background: rgba(200, 255, 255, 0.6);
  border-radius: 30px;
  padding: 80px;
  text-align: center;
  color: white;
  font-size: 26px;
  position: relative;
  display: inline-block;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Sawarabi Gothic";
  transition: 1s;
  opacity: 0;
}

.p-top__message.active {
  opacity: 1;
  top: 50%;
}

.p-top__message--title {
  display: inline-block;
  margin-top: 60px;
  font-size: 48px;
  position: relative;
  opacity: 0;
  transition: 1s;
}

.p-top__message--title.active {
  opacity: 1;
}

.p-top__conclusion {
  padding: 80px 0;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-enter-to,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slideup-enter-to,
.slideup-leave-active {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

.slideup-enter,
.slideup-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.u-mrl-s {
  margin: 0 10px;
}

.u-mr-s {
  margin-right: 10px;
}

.u-ml-s {
  margin-left: 10px;
}

.u-mt-s {
  margin-top: 10px;
}

.u-mt-m {
  margin-top: 20px;
}

.u-mb-s {
  margin-bottom: 10px;
}

.u-mb-m {
  margin-bottom: 20px;
}

.u-mb-l {
  margin-bottom: 40px;
}

.u-mb-2l {
  margin-bottom: 60px;
}

.u-pt-s {
  padding-top: 10px;
}

.u-c-r {
  color: #e47777;
}

.u-tc {
  text-align: center;
}

.u-tl {
  text-align: left;
}

.u-tr {
  text-align: right;
}

.u-vm {
  vertical-align: middle;
}

.u-pr {
  position: relative;
}

.u-d-t {
  display: table;
}

.u-d-tc {
  display: table-cell;
}

.u-d-f-jc {
  display: flex;
  justify-content: center;
}

