/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #fcfafa;
  line-height: 1.6em;
}

i:hover {
  cursor: pointer;
}

::-moz-placeholder {
  color: #aaa;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: 12px;
}

::placeholder {
  color: #aaa;
  font-size: 12px;
}

a:hover {
  cursor: pointer;
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  background: #fcfafa;
  line-height: 1.6em;
}

i:hover,
a:hover,
button:hover {
  cursor: pointer;
}

::-moz-placeholder {
  color: #aaa;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: 12px;
}

::placeholder {
  color: #aaa;
  font-size: 12px;
}

.c-auth-nav {
  display: flex;
}

.c-auth-nav__item {
  display: inline-block;
}

.c-btn {
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
}

.c-btn.active {
  background: orange;
}

.c-btn--submit {
  color: #fefefe;
  background: #df8a3b;
}

.c-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.c-calendar--input {
  margin: 0 auto;
  max-width: 300px;
}

.c-calendar__header--input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-calendar__dotw,
.c-calendar__dotw--input {
  display: flex;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.c-calendar__dotw-name,
.c-calendar__dotw-name--input {
  text-align: center;
  width: 14.2857142857%;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.c-calendar__row,
.c-calendar__row--input {
  display: flex;
  height: 125px;
  border-left: 1px solid #bbb;
}

.c-calendar__row--input {
  font-size: 14px;
  height: 40px;
}

.c-calendar__day,
.c-calendar__day--input {
  width: 14.2857142857%;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.c-calendar__day--input {
  cursor: pointer;
}

.c-calendar__day--input.active {
  background: #df8a3b;
}

.c-calendar__outer-month {
  background: #f3f3f3;
}

.c-calendar__event {
  color: white;
  margin-bottom: 1px;
  height: 25px;
  line-height: 25px;
  position: relative;
  z-index: 1;
}

.c-footer {
  box-shadow: 1px 0 5px 5px #ddd;
  line-height: 80px;
  text-align: center;
}

.c-form {
  padding: 20px 30px;
  border: 1px solid #bbb;
  border-radius: 10px;
  background: #fff;
}

.c-form__label {
  display: block;
  font-size: 14px;
}

.c-form__input {
  display: block;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.c-form__textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 5px 10px;
  font-size: 14px;
}

.c-form__radio {
  display: none;
}

.c-form__radio-label:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: lime;
  border: 2px solid #ddd;
}

.c-form__radio-label--red:before {
  background: #ff9100;
}

.c-form__radio-label--green:before {
  background: #06f406;
}

.c-form__radio-label--gray:before {
  background: #afafaf;
}

.c-form__radio-label--blue:before {
  background: #46aef3;
}

.c-form__radio-label--yellow:before {
  background: #dceb0e;
}

.c-form__radio-label--checked:before {
  border: solid 2px #333;
}

.c-form__select {
  border: 1px solid #bbb;
}

.c-icon--modal-close {
  display: inline-block;
  font-size: 30px;
  color: #fefefe;
  margin-top: 10px;
}

.c-link--router {
  display: inline-block;
  padding: 5px 10px;
  background: #333;
  color: white;
}

.c-nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 5px 5px #ddd;
}

.c-nav__left {
  display: inline-block;
  margin-left: 5%;
  line-height: 80px;
}

.c-nav__right {
  display: inline-block;
  margin-right: 5%;
  line-height: 80px;
}

.c-nav__menu {
  margin-left: 20px;
}

.c-text--error {
  font-size: 12px;
  color: red;
}

.c-text--counter {
  font-size: 14px;
  text-align: right;
}

.c-text--flash {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  background: #94d2bd;
  border-radius: 10px;
  border: solid 1px green;
}

.p-container {
  padding-bottom: 60px;
}

.p-container-btn {
  text-align: center;
}

.p-container--form-input {
  margin-bottom: 20px;
}

.p-container--form-radio {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.p-container--input-notice {
  display: flex;
  justify-content: end;
}

.p-wrapper--content {
  min-height: calc(100vh - 80px - 80px);
}

.p-wrapper--auth {
  width: 500px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.p-wrapper--modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fade-enter-to,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.u-tc {
  text-align: center;
}

.u-tl {
  text-align: left;
}

.u-tr {
  text-align: right;
}

