// margin
.u-mrl-s {
  margin: 0 $space_s;
}
.u-mr-s {
  margin-right: $space_s;
}
.u-ml-s {
  margin-left: $space_s;
}
.u-mt-s {
  margin-top: $space_s;
}
.u-mt-m {
  margin-top: $space_m;
}
.u-mb-s {
  margin-bottom: $space_s;
}
.u-mb-m {
  margin-bottom: $space_m;
}
.u-mb-l {
  margin-bottom: $space_l;
}
.u-mb-2l {
  margin-bottom: $space_2l;
}
// padding 
.u-pt-s {
  padding-top: $space_s;
}
// color
.u-c-r {
  color: $color_font_error;
}
// text-align
.u-tc {
  text-align: center;
}
.u-tl {
  text-align: left;
}
.u-tr {
  text-align: right;
}
.u-vm {
  vertical-align: middle;
}
// postion
.u-pr {
  position: relative;
}
// display
.u-d-t {
  display: table;
}
.u-d-tc {
  display: table-cell;
}
.u-d-f-jc {
  display: flex;
  justify-content: center;
}